@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');


@font-face {
  font-family: TF;
  src: url('src/assets/ThaleahFat.ttf');
  font-size: normal;
  font-weight: normal;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Teko", sans-serif;
 }

 ::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(34, 34, 34);
}
